[submodule "doc"]
	path = doc
	url = https://github.com/ryleelyman/seamstress-docs
[submodule "lib/readline"]
	path = lib/readline
	url = https://github.com/ryleelyman/readline
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/ryleelyman/SDL
[submodule "lib/rtmidi"]
	path = lib/rtmidi
	url = https://github.com/ryleelyman/rtmidi
[submodule "lib/ziglua"]
	path = lib/ziglua
	url = https://github.com/ryleelyman/ziglua
[submodule "lib/liblo"]
	path = lib/liblo
	url = https://github.com/ryleelyman/liblo
[submodule "lib/SDL_image"]
	path = lib/SDL_image
	url = https://github.com/ryleelyman/SDL_image
